


<div class="dashboard-wrapper d-flex flex-row">
  <aside class="sidebar d-flex flex-column p-4 shadow-lg">
    <div class="logo-area text-center mb-5">
      <h2 class="brand-title">T4TEA<span class="dot">.</span></h2>
    </div>

    <ul class="nav flex-column gap-3 p-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/home" routerLinkActive="active">
          <i class="fa fa-th-large ms-2"></i> الإحصائيات
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/cat" routerLinkActive="active">
          <i class="fa fa-tags ms-2"></i> الفئات
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/tea-pro" routerLinkActive="active">
          <i class="fa fa-leaf ms-2"></i> منتجات الشاي
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/teaw" routerLinkActive="active">
          <i class="fa fa-coffee ms-2"></i> أدوات الشاي
        </a>
      </li>
    </ul>

    <div class="mt-auto text-center">
      <button type="button" class="btn btn-logout w-100" (click)="logout()">
        تسجيل الخروج <i class="fa fa-sign-out mx-2"></i>
      </button>
    </div>
  </aside>


  <main class="main-content flex-grow-1 p-5">
    <router-outlet></router-outlet>
  </main>
</div>
